.excel__table {
  width: 100%;
  overflow-x: auto;
  padding-bottom: 2px;

  .row {
    display: flex;
    min-height: 20px;
    height: $row-height;
  }

  .row-info {
    user-select: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    background-color: #f8f9fa;
    border-top: none;
  }

  .row-data {
    display: flex;
  }

  .column {
    user-select: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    background-color: #f8f9fa;
    width: $cell-width;
    border: 1px solid $border-color;
    border-top: none;
    border-left: none;
  }

  .cell {
    min-width: $info-cell-width;
    width: $cell-width;
    padding: 5px;
    height: 100%;
    border: 1px solid #e2e3e3;
    border-top: none;
    border-left: none;
    color: #111;
    white-space: nowrap;
    outline: none;

    &.selected {
      border: none;
      outline: 2px solid $primary-color;
      z-index: 2;
    }
  }

  .col-resize,
  .row-resize {
    position: absolute;
    right: 0;
    opacity: 0;
    bottom: 0;
    background-color: $primary-color;
    z-index: 1000;

    &.active:before {
      content: '';
      display: block;
      position: absolute;
      background-color: inherit;
    }

    &:hover,
    &.active {
      opacity: 1;
    }
  }

  .col-resize {
    top: 0;
    width: 5px;
    cursor: e-resize;

    &.active:before {
      height: 5000px;
      width: 1px;
      left: 2px;
    }
  }

  .row-resize {
    left: 0;
    height: 5px;
    cursor: n-resize;

    &.active:before {
      width: 5000px;
      height: 1px;
      top: 2px;
    }
  }
}
